[submodule "papercolor-theme"]
	path = papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "limelight.vim"]
	path = limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule "goyo.vim"]
	path = goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim-pencil"]
	path = vim-pencil
	url = https://github.com/reedes/vim-pencil
[submodule "vim-colors-pencil"]
	path = vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil
[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vim-markdown-enhancements"]
	path = vim-markdown-enhancements
	url = http://github.com/mattly/vim-markdown-enhancements
[submodule "vim-material-theme"]
	path = vim-material-theme
	url = https://github.com/jdkanani/vim-material-theme
[submodule "vim-fullscreen"]
	path = vim-fullscreen
	url = https://github.com/lambdalisue/vim-fullscreen
